*{
    box-sizing: border-box;
    font-size: 1.5rem;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(3,auto);
    background-image: linear-gradient(rgba(155, 23, 23, 0.233),rgba(34, 190, 252, 0.171)), url('bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-name: onPageLoad;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    -webkit-background-image: linear-gradient(rgba(155, 23, 23, 0.233),rgba(34, 190, 252, 0.171)), url('bg.jpg');
    -moz-background-image: linear-gradient(rgba(155, 23, 23, 0.233),rgba(34, 190, 252, 0.171)), url('bg.jpg');
}

.randSection{
    height: 400px;
    width: 700px;
    border: 4px dashed rgb(17, 95, 119);
    grid-row: 2/span 2;
    grid-column: 3/span 2;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
}

.randDisplay{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.randDisplay div{
    height: 120px;
    width: 27%;
    font-size: 3rem;
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    background-color:rgba(245, 245, 245, 0.596);
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.425);
}

.randButton{
    align-self: center;
}

.randButton button{
    border: none;
    width: 500px;
    height: 70px;
    background-color: rgba(0, 128, 128, 0.74);
    color: white;
    border-radius: 20px;
    outline: transparent;
    transition-duration: 1s;
}

.randButton button:hover{
    background-color: rgb(0, 128, 128);
    box-shadow: 5px 10px 40px 5px rgba(9, 63, 85, 0.486);
    transform: scale(1.02);
}

@keyframes onPageLoad{
    from{background-position-x: left;}
    to{background-position-x: right;}
}