*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 128, 128, 0.301),rgba(216, 191, 216, 0.322));
    background-attachment: fixed;
}

table{
    border: 4px dashed rgb(19, 103, 109);
    font-size: 2rem;
    border-radius: 30px;
    border-collapse: collapse;
}

td,th,tr{
    border: 2px solid rgb(19, 103, 109);
    text-align: center;
}

td{
    padding-left: 80px;
    padding-right: 80px;
}