body{
    background-image: linear-gradient(rgba(49,48,33,0.7),rgba(30,66,11,0.5));
    background-attachment: fixed;
}

h1{
    font-size: 5rem;
    background-image: linear-gradient(rgba(121, 23, 23, 0.603),rgba(15, 78, 94, 0.774));
    -webkit-background-clip: text;
    color: transparent;
    animation-name: changeColor;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: linear-gradient(rgba(122, 57, 19, 0.616),rgb(30, 133, 119));
    animation-name: rotateCircle;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:  normal;
    animation-fill-mode: forwards;
    box-shadow: 2px 7px 5px 6px gray;
}

p{
    color: white;
    text-align: justify;
}

@keyframes changeColor{
    from{background-image: linear-gradient(rgba(121, 23, 23, 0.7),rgba(15, 78, 94, 0.774));}
    to{background-image: linear-gradient(rgba(13, 85, 55, 0.603),rgba(15, 78, 94, 0.774));}
}

@keyframes rotateCircle{
    0%{transform: translateX(0vw) translateY(0vh);}
    10%{transform: translateX(20vw) translateY(0vh)}
    20%{transform: translateX(20vw) translateY(10vh);}
    30%{transform: translateX(40vw) translateY(10vh);}
    40%{transform: translateX(40vw) translateY(20vh);}
    50%{transform: translateY(20vh) translateX(60vw);}
    60%{transform: translateX(60vw) translateY(0vh);}
    70%{transform: translateY(0vh) translateX(80vw);}
    80%{transform: translateX(80vw) translateY(-10vh);}
    90%{transform: translateY(-10) translateX(80vw);}
    100%{transform: translateY(-10vh) translateX(100vw);}
}