*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: linear-gradient(to bottom right,rgba(68, 65, 65,0.4),rgba(255, 0, 0,0.4)),url('jared-verdi-PNKwdJ8WetM-unsplash.jpg'); */
    background-color: teal;
}

form{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 100%;
}

td{
    width: 50%;
}

footer{
    position: absolute;
    top: 90%;
    left: 40%;
    width: fit-content;
    margin: 0;
    padding: 0;
}

input[type=text]{
    width: 100%;
    height: 60px;
    outline-color: yellow;
}

input[type=submit]{
    width: 60%;
    height: 50px;
    border: none;
    background-color: lightslategray;
    border-radius: 15px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    color: white;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: wheat;
}

h1{
    color: wheat;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: skew();
    display: block;
    width: fit-content;
}
#search{
    background-color: blue;
    transition: 2s;
}
#search:hover{
    background-color: red;
    width: 50%;
}
#search::placeholder{
    color: red;
    transition: 2s;
}

#search:hover::placeholder{
    color: white;
}