*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0, 128, 128, 0.288), rgba(0, 255, 255, 0.267));
    background-attachment: fixed;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  repeat(4,1fr);
    gap: 10px;
}

div{
    border: 2px solid black;
    height: 40px;
    line-height: 40px;
    text-align: center;
}